@import "tailwindcss";

@theme inline {
  /* Colors */
  --color-nordic-dark: #19322F;
  --color-mosque: #006655;
  --color-hint-of-green: #D9ECC8;
  --color-background-light: #EEF6F6;
  --color-background-dark: #0f231f;
  --color-primary: #06f9d0;
  --color-nordic-muted: #5C706D;
  
  /* Fonts */
  --font-display: 'Inter', sans-serif;
  
  /* Box Shadows */
  --shadow-soft: 0 10px 40px -10px rgba(0,0,0,0.05);
  --shadow-card: 0 4px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px -1px rgba(0, 0, 0, 0.02);
}

:root {
  --background: var(--color-background-light);
  --foreground: var(--color-nordic-dark);
}

@custom-variant dark (&:where(.dark, .dark *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-mosque);
  color: #ffffff;
}

.hide-scroll::-webkit-scrollbar {
    display: none;
}
.hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
